.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
# Include esbuild node_modules
!node_modules/esbuild/**
!node_modules/@esbuild/**
.DS_Store